@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'EPILOGUE';
  src: url('./fonts/Epilogue-VariableFont_wght.ttf');
}

:root {
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}
